*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: url(images/blue-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 5%;
}

.container{
    position: relative;
    height: 100%;
    /* background: rgba(255, 255, 255, .1); */
    background: skyblue;
    border-radius: 30px;
    overflow-y: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    border-color: #fff;

}

.uvod{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}

.uvod__details h1{
    font-size: 55px;
    line-height: 1;
}

.uvod__details h2{
    font-size: 32px;
}

.uvod__details p{
    margin: 10px 0 20px;
}

.uvod__details .social__icon{
    margin-left: 0;
    margin-top: 20px;
}

.uvod__details .social__icon a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.uvod__details .social__icon a:hover{
    background: #fff;
    color: #333;
}

.uvod__img .img__box{
    width: 400px;
    height: 612px;
}

.uvod__img .img__box{
    position: absolute;
    top: 30px;
    right: 20%;
    display: block;
    object-fit: cover;
}

/* Sekce o mne */

.omne{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.omne__details h1{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 55px;
}


.info__box{
    flex: 1 1 0;
    padding: 25px;
    border: 1px solid #fff;
    border-radius: 12px;
}

.info__box a{
    text-decoration: none;
    color: #fff;
}

.omne__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    padding: 20px 50px;
    line-height: 1.5;
    font-size: 1.6rem;
    margin-top: 10%;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.info__box li, h3{
    color: #fff;
    display: block;
}

.seznam{
    list-style: none;
    padding: 0;
    margin: 0;
}


.certifikat{
    text-decoration: underline;
}

/* Projekty */

section.project{
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    /* margin-bottom: 30px; */
    border: none
}

.project__details h1{
    margin-left: 50px;
    /* margin-top: 50px; */
    margin-bottom: 0;
    font-size: 55px;
    color: #fff;
}

.project__info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 20px 50px; */
    align-items: stretch;
    margin-top: 0;
}

.project__info .project{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 12px 12px 0 0;
    border: none;
    margin-bottom: 0;
    border: 1px solid blue;
}

.project__content{
    padding: 20px;
    background: #fff;
    border-radius: 0 0 12px 12px;
    align-items: stretch;
    flex-grow: 1;
}

.project__info a{
    text-decoration: none;
    color: #333;
}

.project__content h2,
.project__title{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.25;
}

.project__descriprion{
    margin-bottom: 0;
    font-size: 0.9rem;
}

.project__image{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (min-width: 660px){
    .project{
        flex-direction: row;
    }

    .project__image{
        width: 100%;
        height: 250px;
        min-height: 100%;
        object-fit: cover;
        flex: none;
    }
}

@media(min-width: 1100px){
    .project__info{
        flex-direction: row;
        align-items: stretch;
        gap: 20px;
        margin-bottom: 0;
        padding: 50px 5%;
    }

    .project__info .project__image{
        width: 100%;
        height: 90px;
        flex: none;
        display: flex;
        object-fit: cover;
        object-position: center top;
        display: block;
        flex-direction: column;
        background: #fff;
    }

    .project__info .project{
        display: flex;
        flex-direction: column;
        flex: 1;

    }

    .project__content{
        flex-grow: 1;
        background: #fff;
        color: #333;
        border-radius:  0 0 12px 12px;
    }

    .joga .project__image{
        object-fit: contain;
    }

    .formular .project__image{
        object-fit: contain;
    }

}
